@font-face {
    font-family: "norse";
    src: url(Norse-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

*{
    margin:0;
}
html{
    height: 100vh;
}

body{
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left{
    background-image: url(background.jpg);
    background-size: cover;
    height: 100%;
    min-width: 500px;
    position: relative;
}
.left>div{
    background-color: rgba(0, 0, 0, .5);
    height: 120px;
    width: 100%;
    position: absolute;
    top: calc(33.3% - 120px);
    line-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.norse{
    font: 6rem "norse",monospace;
    color: white;
    
}

.left img{
    height: 110px;
}
.right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right> div{
    flex: 1;
}

.head,.foot{
    background-color: rgb(240, 240, 240);
    padding-left: 70px;
}

.hero-content{
    padding-top: 100px;
    font-size: 16px;
    
}
.hero-text{
    padding-bottom: 30px;
    width: 800px;
}
.italic{
    font-style: italic;
}



.mid{
    display: flex;
    padding-left: 70px;
}


#form{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    
    padding-bottom: 20px;
}
legend{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

label{
    font-size: 13px;
    color: #4e4e4e;
    font-weight: bold;
}

input{
    border: #E5E7EB solid 1px;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    font-size: 18px;
}

.foot{
    
}

.foot button{
    background-color: #596D48;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    margin: 20px 0px;
    border-radius: 10px;
}
:link{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}