@font-face {
    font-family: "norse";
    src: url(Norse-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

*{
    margin:0;
}
html{
    height: 100vh;
}

body{
    display: flex;
    height: 100vh;
}

.left{
    background-image: url(background.jpg);
    background-size: contain;
    height: 100%;
    aspect-ratio: 1862 / 2792;
    position: relative;

}
.left>div{
    background-color: rgba(0, 0, 0, .5);
    height: 120px;
    width: 100%;
    position: absolute;
    top: calc(33.3% - 120px);
    line-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.norse{
    font: 6rem "norse",monospace;
    color: white;
    
}

.left img{
    height: 110px;
}
.right{
    flex: auto;

    display: flex;
    flex-direction: column;
}

.right> div{
    flex: 1;
}

.head,.foot{
    background-color: rgb(240, 240, 240);
}

.hero-content{
    padding: 10% 5% 0% 5% ;
    font-size: 18px;
}
.hero-text{
    padding-bottom: 10px;
}
.italic{
    font-style: italic;
}

input{
    border: #E5E7EB solid;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
legend{
    width: 100%;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 80%
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.foot button{
    background-color: #596D48;
}